body {
    color: #88cc88;
    background-color: #2d882d;
}

.header-background,
.screenshot-link {
    border: none;
    background-color: #004400;
}

.header {
    padding-top: 15px;
    text-align: center;
}

.header-background {
    width: 100%;
    max-width: 1024px;
}

.description {
    text-align: center;
}

.description-title {
    margin-top: 10px;
    margin-bottom: 0;
}

.description-list {
    display: inline-block;
    padding: 0;
    list-style-position: inside;
    text-align: left;
}

.video {
    text-align: center;
}

.video-inner {
    display: inline-block;
    width: 100%;
    max-width: 560px;
    margin: 10px 0;
}

.download {
    text-align: center;
}

.download-img__android {
    width: 210px;
}

.download-available {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.screenshots {
    margin-top: 10px;
    text-align: center;
}

.screenshot-link {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

.screenshot-img {
    width: 100%;
}

.community {
    text-align: center;
}

.community-btn {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.footer {
    padding: 15px 0;
    text-align: center;
}